.userMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 710px;
    height: 111px;
    padding: 0;
    /* border: 1px solid black; */
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.20);
    padding: 0 19px;
    box-sizing: border-box;
}

article > h1 {
    margin-left: 0;
}