
.ChartButton {
    width: 140px;
    height: 55px;
    padding: 15px;
    background-color: #F8F8F8;
    border: none;
    border-bottom: 1px solid #ABA9A9;
}

.ChartButton:focus {
    cursor: pointer;
    outline: none;
}

.ChartButton:focus-visible {
    cursor: pointer;
    outline: none;
}

.ChartButton[multiple]:focus option:checked {
    background: red linear-gradient(0deg, red 0%, red 100%);
}


.ChartButton-option {
    height: 30px;
    background-color: #F8F8F8;
}
