.repository{
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.2);
}
.repository__text{
    width: 480px;
}
.repository__text p{
    margin: 0;
}
.repository__text h2{
    font-size: 21px;
    font-weight: 500;
    margin: 0;
}