.path{
  position: relative;
  display: flex;
  width: fit-content;
  font-family: 'Mulish', sans-serif;

  hr{
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    z-index: -1;
  }

  &__item{
    display: grid;
    place-content: center;
    font-size: 21px;
    width: 38px;
    height: 38px;
    margin: 0 20px;

    border-radius: 50%;
    background-color: $colorUnactive;
    
    a{
      color: white;
      text-decoration: none;
    }
  }
}

.active{
  background: $mainGradient;
}