.pieChart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 18px 9px;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.20);
}
.chart-container {
    width: 95%;
    max-width: 350px;
}

@media (min-width: 900px) {
    .pieChart {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }   
}