.percent {
  font-size: 18px;
}
.chart-title {
  align-self: center;
  position: relative;
  z-index: 10;
  & h2{
    font-size: 18px;
    font-weight: 400;
  }
}

.average {
  font-size: 18px;
  margin-top: 15px;
  & span{
    font-size: 16px;
    color: gray;
  }
}

.donnutChart-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  & > article{
    text-align: center;
  }
}

.dunnut.loading {
  position: relative;
  padding: 0;
  width: 350px;
  height: 200px;
}

.donnutChart {
  width: 210px;
  height: 90px;
  position: relative;
  top: -40px;
}

@media screen and (min-width: 550px){
  .donnutChart-container{
    flex-direction: revert;
  }
}
@media (min-width: 900px) {
  .donnutChart-container {
    width: fit-content;
    height: 191px;
  }
  .average {
    text-align: center;
    & > span{
      display: block;
    }
  }
}
