.filter{
    grid-area: filter;
    width: 100%;
    padding: 20px;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.2);
}
.checkboxes{
    padding: 10px 0;
}
.ChartButton{
    width: 100%;
}

.loading{
    width: 215px;
    height: 427px;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.2);
}
.loading-skeletonContainer{
    position: relative;
    width: 100%;
    height: 100%;
}
.skeleton-item{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}


@media (min-width: 1000px) {
    .filter{
        height: fit-content;
    }
}