.Main__wrapper{
  width: 90%;
  max-width: 1100px;
  margin: 24px auto;
  padding-bottom: 30px;
}
.Main__header{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.Main__chart-section{
  margin-bottom: 35px;
  .chart-section__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .chart-section__select{
      font-family: $mainFont;
      margin-bottom: 10px;
    }
  }
  h2{
    font-family: $secondaryFont;
    font-weight: 100;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 900px){
  .Main__header{
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}