.main__content-step{
  justify-content: space-between;
  
  *{
    margin: 20px 0;  
  } 

  @extend .main__content;
}

.three > div{
  padding-top: 20px;
}

.four{
  min-height: 400px;
  justify-content: space-between;

  .main__title{
    margin-bottom: 10px;
  }

  & > article{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    .checkboxes{
      width: 250px;
    }
  }
}

.five > article{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
  align-items: center;
  justify-content: space-between;

  .advantage{
    margin: 0 auto;
  }
}
