.cta{
    background: rgb(95,100,255);
    background: linear-gradient(90deg, rgba(95,100,255,0.7) 0%, rgba(174,78,255,0.85) 100%);
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;

    width: fit-content;
    padding: 8px 22px;
}