$colorContrastOne: #ae4eff;
$colorContrastTwo: #401dac;
$mainGradient: linear-gradient(90deg, rgba(95,100,255,1) 0%, rgba(174,78,255,1) 100%);
$colorUnactive: #ABA9A9;
$mainFont: 'Lato', sans-serif;
$secondaryFont: 'Mulish', sans-serif;
$mainShadow: 3px 3px 20px rgba(0, 0, 0, 0.2);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}


@import './components/PluginStatus.scss';
@import './components/Button.scss';
@import './components/Checkbox.scss';
@import './components/ChartButton.scss';
@import './components/Advantage.scss';
@import './components/ChartPieItem.scss';
@import './components/LoadingMain.scss';
@import './components/MainSkeleton.scss';



@import './containers/UserMain.scss';
@import './containers/Filter.scss';
@import './containers/Checkboxes.scss';
@import './containers/Navbar.scss';
@import './containers/ChartHalfDoughtnut.scss';
@import './containers/BarChart.scss';
@import './containers/ChartPie.scss';
@import 'containers/ChartPieListItem.scss';
@import './containers/UserProject.scss';
@import 'containers/OperativeSystem.scss';


@import './pages/adminView.scss';
@import './pages/home.scss';
@import './pages/step.scss';