$colorDePrueba: rgb(255, 255, 255);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $colorDePrueba;
}


@import './components/PluginStatus.scss';
@import './components/Button.scss';
@import './components/Checkbox.scss';
@import './components/ChartButton.scss';
@import './components/NavBarItem.scss';

@import './containers/UserMain.scss';
@import './containers/Filter.scss';
@import './containers/Checkboxes.scss';
@import './containers/Navbar.scss';


@import './pages/adminView.scss'